In [14]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt

# Iris dataset

In [7]:
df = pd.read_csv(r'./IRIS.csv')
df.columns.values.tolist()

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

In [9]:
x = df.drop(['Species'],axis = 1).values
y = df['Species']

In [10]:
le = LabelEncoder()
Y = le.fit_transform(y)

In [21]:
splits = range(2,8)
random_states = [0, 42]
result = []
models = []
for split_size in splits:
    split_size = split_size / 10
    for random_state in random_states:
        X_train, X_test, y_train, y_test = train_test_split(x, Y, test_size=split_size, random_state=random_state , shuffle=True)
        model = svm.SVC()
        model.fit(X_train, y_train)
        models.append(model)
        y_pred = model.predict(X_test)
        accuracy = accuracy_score(y_test, y_pred)
        result.append(["SVM","iris", split_size, random_state, accuracy])

result_df = pd.DataFrame(result, columns=["model","dataset","test_size","random_state","accuracy_score"])
result_df

   model dataset  test_size  random_state  accuracy_score
0    SVM    iris        0.2             0        1.000000
1    SVM    iris        0.2            42        1.000000
2    SVM    iris        0.3             0        1.000000
3    SVM    iris        0.3            42        1.000000
4    SVM    iris        0.4             0        0.966667
5    SVM    iris        0.4            42        0.983333
6    SVM    iris        0.5             0        0.960000
7    SVM    iris        0.5            42        0.986667
8    SVM    iris        0.6             0        0.966667
9    SVM    iris        0.6            42        0.933333
10   SVM    iris        0.7             0        0.952381
11   SVM    iris        0.7            42        0.904762

# Play tennis

In [29]:
df = pd.read_csv(r'./play_tennis.csv')
df.columns.values.tolist()

['day', 'outlook', 'temp', 'humidity', 'wind', 'play']

In [30]:
x = df.drop(['play'],axis = 1)
y = df['play']

In [31]:
le = LabelEncoder()
X = x.apply(le.fit_transform)

le = LabelEncoder()
Y = le.fit_transform(y)

In [33]:
splits = range(2,8)
random_states = [0, 42]
models = []
for split_size in splits:
    split_size = split_size / 10
    for random_state in random_states:
        X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=split_size, random_state=random_state , shuffle=True)
        model = svm.SVC()
        model.fit(X_train, y_train)
        models.append(model)
        y_pred = model.predict(X_test)
        accuracy = accuracy_score(y_test, y_pred)
        result.append(["SVM","play_tennis", split_size, random_state, accuracy])

result_df = pd.DataFrame(result, columns=["model","dataset","test_size","random_state","accuracy_score"])
result_df

   model      dataset  test_size  random_state  accuracy_score
0    SVM         iris        0.2             0        1.000000
1    SVM         iris        0.2            42        1.000000
2    SVM         iris        0.3             0        1.000000
3    SVM         iris        0.3            42        1.000000
4    SVM         iris        0.4             0        0.966667
5    SVM         iris        0.4            42        0.983333
6    SVM         iris        0.5             0        0.960000
7    SVM         iris        0.5            42        0.986667
8    SVM         iris        0.6             0        0.966667
9    SVM         iris        0.6            42        0.933333
10   SVM         iris        0.7             0        0.952381
11   SVM         iris        0.7            42        0.904762
12   SVM  play_tennis        0.2             0        0.000000
13   SVM  play_tennis        0.2            42        0.666667
14   SVM  play_tennis        0.3             0        0.200000
15   SVM  play_tennis        0.3            42        0.600000
16   SVM  play_tennis        0.4             0        0.333333
17   SVM  play_tennis        0.4            42        0.666667
18   SVM  play_tennis        0.5             0        0.142857
19   SVM  play_tennis        0.5            42        0.714286
20   SVM  play_tennis        0.6             0        0.666667
21   SVM  play_tennis        0.6            42        0.555556
22   SVM  play_tennis        0.7             0        0.400000
23   SVM  play_tennis        0.7            42        0.600000

In [34]:
result_df.to_excel("./SVM_output.xlsx")